.line {
    background-color: #198754;
    border-radius: .25rem;
    width: 11rem;
    height: .5rem;
    margin: .75rem 0 .75rem 0;
}

.home {
    position: relative;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.text {
    text-align: center !important;
}

:host {
    display: block;
   margin:0;
   padding: 0;
}

html, body { 
    margin:0;
   padding: 0;
    height: 100%;
overflow-x: hidden;}

.section-container {
   // scroll-snap-type: y mandatory;
   display: flex;
   flex-direction: column;
}

section {
    position: relative;
   // scroll-snap-align: start;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: backround-color 0.5s ease;
}

.card {
    width: 100%;
}