<div class="section-container">
  <section id="home">
    <div class="card home-content">
        <div class="card-body">
          <div class="container centered-content">
            <div class="text">
              <h1 class="typing-heading">Hola, Soy Luis García Arranz</h1>
              <p class="typing-paragraph">Desarrollador y gestor web</p>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section id="about">
    <div class="card about">
        <div class="card-body">
          <div class="container centered-content">
            <app-about-me></app-about-me>
          </div>
        </div>
    </div>
  </section>

  <section id="experience">
    <div class="card experience">
        <div class="card-body">
          <div class="container centered-content">
            <app-experience></app-experience>
          </div>
        </div>
    </div>
  </section>

  <section id="contact">
    <div class="card contact">
        <div class="card-body">
          <div class="container centered-content">
            <app-contact></app-contact>
          </div>
        </div>
    </div>
  </section>
</div>
