
<div class="section-container">
  <div class="section">
    <section class="home">
      <div class="container centered-content">
          <div class="text">
            <h1>Hola, Soy Luis García Arranz</h1>
            <p>Desarrollador y gestor web</p>
            <button class="btn btn-success" (click)="goToAboutMe()">Sobre mí</button>
          </div>
        </div>
  </section>
  </div>
  <div class="section">
    <section class="home">
      <div class="container centered-content">
          <div class="text">
            <h1>Hola, Soy Luis García Arranz</h1>
            <p>Desarrollador y gestor web</p>
            <button class="btn btn-success" (click)="goToAboutMe()">Sobre mí</button>
          </div>
        </div>
  </section>
  </div>
  <div class="section">
    <section class="home">
      <div class="container centered-content">
          <div class="text">
            <h1>Hola, Soy Luis García Arranz</h1>
            <p>Desarrollador y gestor web</p>
            <button class="btn btn-success" (click)="goToAboutMe()">Sobre mí</button>
          </div>
        </div>
  </section>
  </div>
  
</div>


