

<section class="home">
    <div class="container centered-content">
        <div class="text">
          <h1>Hola, Soy Luis García Arranz</h1>
          <p>Desarrollador y gestor web</p>
          <button class="btn btn-primary" routerLink="./contact" >Sobre mí</button>
        </div>
      </div>
</section>



<!-- <button mat-flat-button (click)="goToAboutMe()">Sobre mí</button> 
<a href="https://www.linkedin.com/in/luis-garc%C3%ADa-arranz-97624776/" target="_blank">

<mat-icon svgIcon="mi-icono"></mat-icon>
</a>
 -->
