<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid content">
    
    <a class="navbar-brand" (click)="scrollTo('home')">
      <img src="assets/images/yo.jpeg" alt="">
      Luis García Arranz
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="scrollTo('about')" [class.active]="activeSection === 'about'">Sobre mí</a>
        <a class="nav-item nav-link" (click)="scrollTo('experience')" [class.active]="activeSection === 'experience'">Experiencia laboral</a>
       <!--  <a class="nav-item nav-link" (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">Proyectos</a> -->
        <button class="btn btn-outline-success" (click)="scrollTo('contact')" [class.active]="activeSection === 'contact'" type="button">Contáctame</button>
      </div>
    </div>
  </div>
</nav>
