nav{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
}


.content {
    padding: 1rem 5rem
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #28a745 !important; /* Color verde */
    border-bottom: 2px solid #28a745;
  }
  
  .btn-outline-success.active {
    background-color: #28a745;
    color: white;
    border: 2px solid #28a745;
  }
  
  .navbar-brand {
    cursor: pointer !important;
  }
