<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid content">
      <!-- Alineación a la izquierda -->
      <a class="navbar-brand" routerLink="">
       <!--<img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">--> 
        Luis García Arranz
      </a>
  
      <!-- Botón de colapso para pantallas pequeñas -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Enlaces de navegación alineados a la derecha -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="about-me">Sobre mí</a>
          <a class="nav-item nav-link" routerLink="experience">Experiencia laboral</a>
          <a class="nav-item nav-link" routerLink="projects">Proyectos</a>
         <!--  <a class="nav-item nav-link" routerLink="games">Juegos</a> -->
          <button class="btn btn-outline-success" routerLink="contact" type="button">Contáctame</button>
        </div>
      </div>
    </div>
  </nav>
  
  