@import url(./../../../app.component.scss);

span{
    display: block;
}

mat-label {
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}



.contact-element {
    margin-top: 14px;
}


mat-form-field {
    width: 100%;
}
