span{
    display: block;
}

mat-label {
    display: block;
}

.contact-element {
    margin-top: 14px;
}

.content {
    position: absolute;
    margin: 20px;
    padding: 5%;
    width: 100%;
}

mat-form-field {
    width: 50%;
}
