.cells {
    border: 1px solid gray;
    border-radius: 12px;
    margin: 1%;
    height: 50px;
    cursor: pointer;
}

.player-one {
    color: green;
}

.green {
    background-color: green;
}

.player-two {
    color: red;
}

.red {
    background-color: red;
}