<div class="content">
    <div class="row">
        <div class="col-5">
                <div class="d-flex justify-content-center">
                    <strong>Sobre mí</strong>

                </div>
                <div class="text-about">
                    <p>
                        Desarrollador Web especializado en Angular ⚙️, me apasiona transformar ideas en experiencias digitales que realmente importan. 
                        Con una sólida base en el desarrollo frontend, tengo experiencia en la creación de aplicaciones escalables, seguras y orientadas al usuario, 
                        siempre utilizando las mejores prácticas de la industria y adaptándome a las últimas innovaciones de Angular 🚀.
                        
                    </p>
                    <p>
                        💡 Me destaco por mi enfoque en la eficiencia y la colaboración, siempre buscando maneras de optimizar tanto el rendimiento de las aplicaciones como los procesos de trabajo en equipo. 
                        Además de mis habilidades técnicas, valoro el aprendizaje continuo 📚 y me esfuerzo por mantenerme actualizado, lo que me permite aportar soluciones innovadoras a cada proyecto.
                    </p>
                    <p>
                        🔗 Comprometido con aportar soluciones efectivas y creativas, disfruto colaborando en proyectos desafiantes que impulsen el crecimiento y la innovación. Si buscas intercambiar ideas sobre desarrollo o explorar nuevas oportunidades en Angular, ¡me encantaría conectar!
                    </p>
                </div>
                    
                    
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h3 class="skills-title">
                Mis habilidades
            </h3>
           <div class="skills">
                @for(skill of skillsList; track $index) {
                    <div class="skill">{{skill}}</div>
                }
                
           </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <!--     <h3>My Skills</h3> -->
        </div>
    </div>
    

        
        
</div>
