@import url(./../../../app.component.scss);

button {
    width: 25%;
}

.text-about {
    text-align: justify;
    line-height: 1.6;
}

p {
    margin-bottom: 16px; /* Espacio entre párrafos */
    font-size: 1rem;
  }
