<div class="content">
    <div class="row">
        <div class="col-12">
                <div class="d-flex justify-content-center">
                    <p>¡Hola 👋🏼! Soy <strong>Luis García Arranz</strong><p>

                </div>
               
                    <p>
                        Desarrollador Web especializado en Angular ⚙️, me apasiona transformar ideas en experiencias digitales que realmente importan. 
                        Con una sólida base en el desarrollo frontend, tengo experiencia en la creación de aplicaciones escalables, seguras y orientadas al usuario, 
                        siempre utilizando las mejores prácticas de la industria y adaptándome a las últimas innovaciones de Angular 🚀.
                        
                    </p>
                    
                    <br>
                    
                    <p>
                        💡 Me destaco por mi enfoque en la eficiencia y la colaboración, siempre buscando maneras de optimizar tanto el rendimiento de las aplicaciones como los procesos de trabajo en equipo. 
                        Además de mis habilidades técnicas, valoro el aprendizaje continuo 📚 y me esfuerzo por mantenerme actualizado, lo que me permite aportar soluciones innovadoras a cada proyecto.
                    </p>
                    
                    <br>
                    
                    <p>
                        🔗 Comprometido con aportar soluciones efectivas y creativas, disfruto colaborando en proyectos desafiantes que impulsen el crecimiento y la innovación. Si buscas intercambiar ideas sobre desarrollo o explorar nuevas oportunidades en Angular, ¡me encantaría conectar!
                    </p>
                    
                    <br>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" (click)="goTo()">Contáctame</button>
                    </div>
                    
                    
            </div>
     
    </div>
    
    <div class="row mt-5">
        <div class="d-flex justify-content-center">
                <h3>My Skills</h3>
        </div>
    </div>
    

        
        
</div>
