<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h1>Experiencia laboral 👨🏼‍💻</h1> 
             </div>
        </div>
        <div class="col-12">
            <mat-stepper orientation="vertical">
                <mat-step>
                  <ng-template matStepLabel>2022-actualidad Sercide</ng-template>
                  <ng-template matStepContent>
                    <div class="text-experience">
                        <p>
                          <strong>Desarrollador Full Stack en SERCIDE</strong>
                        </p>
                        <p>
                          En SERCIDE, asumo un rol como desarrollador full stack con responsabilidad en el desarrollo de aplicaciones eficientes y escalables, trabajando con tecnologías modernas y métodos ágiles.
                        </p>
                        <p>
                          <strong>Frontend:</strong> Desarrollo y optimización de interfaces de usuario dinámicas utilizando Angular, garantizando una experiencia fluida y amigable para el usuario final. Realicé tareas de refactorización para mejorar la eficiencia del código existente y actualicé la versión de Angular de la 13 a la 17, implementando mejoras en rendimiento y nuevas funcionalidades.
                        </p>
                        <p>
                          <strong>Backend:</strong> Implementación de servicios y lógica empresarial robusta con Golang, asegurando un rendimiento elevado y una alta capacidad de respuesta.
                        </p>
                        <p>
                          <strong>Gestión de Datos:</strong> Configuración y mantenimiento de bases de datos tanto relacionales (PostgreSQL) como no relacionales (MongoDB) para cubrir diferentes necesidades de almacenamiento y procesamiento de datos.
                        </p>
                        <p>
                          <strong>Despliegue y Hosting:</strong> Implementación y despliegue de aplicaciones en Google Cloud Platform (GCP), optimizando el rendimiento y la escalabilidad en la nube.
                        </p>
                        <p>
                          <strong>Control de Versiones y Colaboración:</strong> Uso de Git para la gestión de versiones y el trabajo en equipo, facilitando un desarrollo organizado y eficiente.
                        </p>
                        <p>
                          <strong>Gestión de Proyectos y Resolución de Incidencias:</strong> Coordinación del flujo de trabajo mediante Jira, gestionando el backlog y resolviendo incidencias de manera ágil y colaborativa.
                        </p>
                        <p>
                          Esta posición me permite aplicar y ampliar mis conocimientos en desarrollo full stack, así como colaborar en equipos multidisciplinarios para alcanzar los objetivos del proyecto.
                        </p>
                      </div>
                        
                    <button mat-button matStepperNext>Siguiente</button>
                  </ng-template>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>2018-2022 Comunytek Consultores</ng-template>
                  <ng-template matStepContent>
                    <p>This content was also rendered lazily</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </ng-template>
                </mat-step>
               
              </mat-stepper>
        </div>
    </div>
   
</div>
