@import url(./../../app.component.scss);

.text-experience {
    text-align: justify;
    line-height: 1.6;
}

.text-experience p {
    margin-bottom: 16px; /* Espacio entre párrafos */
    font-size: 1rem;
  }
  
  .text-experience strong {
    font-weight: bold;
    color: #2c3e50; /* Resalta los títulos */
    font-size: 1.4rem;
  }
 
  .custom-line {
    border: none; /* Elimina la línea predeterminada */
    height: 2px; /* Grosor de la línea */
    background-color: #4caf50; /* Color de la línea */
    width: 100%; /* Ancho total (ajusta según prefieras) */
    margin: 20px 0; /* Espaciado superior e inferior */
    opacity: 0.8; /* Transparencia */
    border-radius: 5px; /* Bordes redondeados (opcional) */
  }